<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car max | {{ title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/588891c8d1.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="overflow-x-hidden">
    {% include 'navbar.html' %}
    <div class="min-h-screen">{% include content_template %}</div>
    {% include 'footer.html' %}
  </body>
</html>
