<div class="flex w-full justify-between items-center p-4">
  <div class="flex items-center">
    <a href="/">
      <img
        src="/images/Black_and_White_Simple_Modern_Minimalist_Animals_Zoo_Station_Circle_Logo-removebg-preview.png"
        alt="Logo"
        class="rounded-full w-14 h-14"
      />
    </a>
  </div>
  <div class="flex space-x-4">
    <a href="/" class="hover:text-gray-400 bg-gray-200 p-2 rounded">Home</a>
    <a href="/tickets" class="hover:text-gray-400 bg-gray-200 p-2 rounded"
      >Zoo Tickets</a
    >
    <a href="/hotel" class="hover:text-gray-400 bg-gray-200 p-2 rounded"
      >Hotel</a
    >
    <a href="/about" class="hover:text-gray-400 bg-gray-200 p-2 rounded"
      >About us</a
    >
    <a href="/contact" class="hover:text-gray-400 bg-gray-200 p-2 rounded"
      >Contact us</a
    >
    <a href="/education" class="hover:text-gray-400 bg-gray-200 p-2 rounded"
      >Educational</a
    >
  </div>
  <div class="flex space-x-4 justify-between items-center">
    <a
      href="/login"
      id="nav-login"
      class="hover:text-white bg-blue-500 text-white p-2 rounded hover:bg-blue-600"
      >Login</a
    >
    <a
      href="/signup"
      id="nav-signup"
      class="hover:text-white bg-green-500 text-white p-2 rounded hover:bg-green-600"
      >Signup</a
    >
    <button
      id="nav-user"
      class="text-black hover:text-white hover:bg-black p-1 rounded hidden"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2em"
        height="2em"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 2a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2m0 7c2.67 0 8 1.33 8 4v3H4v-3c0-2.67 5.33-4 8-4m0 1.9c-2.97 0-6.1 1.46-6.1 2.1v1.1h12.2V17c0-.64-3.13-2.1-6.1-2.1"
        />
      </svg>
    </button>
    <button
      id="nav-logout"
      class="hover:text-white bg-red-500 text-white p-2 rounded hover:bg-red-600 hidden"
    >
      logout
    </button>
    <!-- <button
      id="theme-toggle"
      class="bg-yellow-500 p-2 rounded hover:bg-yellow-600 flex items-center"
    >
      <svg
        id="moon-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        color="white"
        class="hidden"
      >
        <path fill="currentColor" d="M18 12a6 6 0 1 1-12 0a6 6 0 0 1 12 0" />
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="M12 1.25a.75.75 0 0 1 .75.75v1a.75.75 0 0 1-1.5 0V2a.75.75 0 0 1 .75-.75M4.399 4.399a.75.75 0 0 1 1.06 0l.393.392a.75.75 0 0 1-1.06 1.061l-.393-.393a.75.75 0 0 1 0-1.06m15.202 0a.75.75 0 0 1 0 1.06l-.393.393a.75.75 0 0 1-1.06-1.06l.393-.393a.75.75 0 0 1 1.06 0M1.25 12a.75.75 0 0 1 .75-.75h1a.75.75 0 0 1 0 1.5H2a.75.75 0 0 1-.75-.75m19 0a.75.75 0 0 1 .75-.75h1a.75.75 0 0 1 0 1.5h-1a.75.75 0 0 1-.75-.75m-2.102 6.148a.75.75 0 0 1 1.06 0l.393.393a.75.75 0 1 1-1.06 1.06l-.393-.393a.75.75 0 0 1 0-1.06m-12.296 0a.75.75 0 0 1 0 1.06l-.393.393a.75.75 0 1 1-1.06-1.06l.392-.393a.75.75 0 0 1 1.061 0M12 20.25a.75.75 0 0 1 .75.75v1a.75.75 0 0 1-1.5 0v-1a.75.75 0 0 1 .75-.75"
          clip-rule="evenodd"
        />
      </svg>
      <svg
        id="sun-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        color="white"
      >
        <path fill="currentColor" d="M18 12a6 6 0 1 1-12 0a6 6 0 0 1 12 0" />
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="M12 1.25a.75.75 0 0 1 .75.75v1a.75.75 0 0 1-1.5 0V2a.75.75 0 0 1 .75-.75M4.399 4.399a.75.75 0 0 1 1.06 0l.393.392a.75.75 0 0 1-1.06 1.061l-.393-.393a.75.75 0 0 1 0-1.06m15.202 0a.75.75 0 0 1 0 1.06l-.393.393a.75.75 0 0 1-1.06-1.06l.393-.393a.75.75 0 0 1 1.06 0M1.25 12a.75.75 0 0 1 .75-.75h1a.75.75 0 0 1 0 1.5H2a.75.75 0 0 1-.75-.75m19 0a.75.75 0 0 1 .75-.75h1a.75.75 0 0 1 0 1.5h-1a.75.75 0 0 1-.75-.75m-2.102 6.148a.75.75 0 0 1 1.06 0l.393.393a.75.75 0 1 1-1.06 1.06l-.393-.393a.75.75 0 0 1 0-1.06m-12.296 0a.75.75 0 0 1 0 1.06l-.393.393a.75.75 0 1 1-1.06-1.06l.392-.393a.75.75 0 0 1 1.061 0M12 20.25a.75.75 0 0 1 .75.75v1a.75.75 0 0 1-1.5 0v-1a.75.75 0 0 1 .75-.75"
          clip-rule="evenodd"
        />
      </svg>
    </button> -->
  </div>
</div>
