<div class="flex w-full justify-between items-center p-4">
  <div class="flex items-center">
    <img
      src="/images/Black_and_White_Simple_Modern_Minimalist_Animals_Zoo_Station_Circle_Logo-removebg-preview.png"
      alt="Logo"
      class="rounded-full w-14 h-14"
    />
  </div>
  <div class="flex space-x-4">
    <a href="/home" class="hover:text-gray-400 bg-gray-200 p-2 rounded">Home</a>
    <a href="/zoo-tickets" class="hover:text-gray-400 bg-gray-200 p-2 rounded"
      >Zoo Tickets</a
    >
    <a href="/hotel" class="hover:text-gray-400 bg-gray-200 p-2 rounded"
      >Hotel</a
    >
    <a href="/about-us" class="hover:text-gray-400 bg-gray-200 p-2 rounded"
      >About us</a
    >
    <a href="/contact-us" class="hover:text-gray-400 bg-gray-200 p-2 rounded"
      >Contact us</a
    >
    <a href="/educational" class="hover:text-gray-400 bg-gray-200 p-2 rounded"
      >Educational</a
    >
  </div>
  <div class="flex space-x-4 justify-between items-center">
    <a
      href="/login"
      class="hover:text-white bg-blue-500 text-white p-2 rounded hover:bg-blue-600"
      >Login</a
    >
    <a
      href="/signup"
      class="hover:text-white bg-green-500 text-white p-2 rounded hover:bg-green-600"
      >Signup</a
    >
    <button
      class="bg-yellow-500 p-2 rounded hover:bg-yellow-600 flex items-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        color="white"
      >
        <path fill="currentColor" d="M18 12a6 6 0 1 1-12 0a6 6 0 0 1 12 0" />
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="M12 1.25a.75.75 0 0 1 .75.75v1a.75.75 0 0 1-1.5 0V2a.75.75 0 0 1 .75-.75M4.399 4.399a.75.75 0 0 1 1.06 0l.393.392a.75.75 0 0 1-1.06 1.061l-.393-.393a.75.75 0 0 1 0-1.06m15.202 0a.75.75 0 0 1 0 1.06l-.393.393a.75.75 0 0 1-1.06-1.06l.393-.393a.75.75 0 0 1 1.06 0M1.25 12a.75.75 0 0 1 .75-.75h1a.75.75 0 0 1 0 1.5H2a.75.75 0 0 1-.75-.75m19 0a.75.75 0 0 1 .75-.75h1a.75.75 0 0 1 0 1.5h-1a.75.75 0 0 1-.75-.75m-2.102 6.148a.75.75 0 0 1 1.06 0l.393.393a.75.75 0 1 1-1.06 1.06l-.393-.393a.75.75 0 0 1 0-1.06m-12.296 0a.75.75 0 0 1 0 1.06l-.393.393a.75.75 0 1 1-1.06-1.06l.392-.393a.75.75 0 0 1 1.061 0M12 20.25a.75.75 0 0 1 .75.75v1a.75.75 0 0 1-1.5 0v-1a.75.75 0 0 1 .75-.75"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>
</div>
