<section id="success" class="hidden">
  <p>
    We appreciate your business! A confirmation email will be sent to
    <span id="customer-email"></span>. If you have any questions, please email
    <a href="mailto:help@Rigetszoo.com">help@Rigetszoo.com</a>.
  </p>
  <p>you have received x points for you to save on future purchases</p>
</section>
<section id="failure" class="hidden">
  <p>
    We're sorry, but there was an error processing your payment. Please try
    again or contact <a href="mailto:help@Rigetszoo.com">help@Rigetszoo.com</a>
  </p>
</section>
<script src="/return.js" defer></script>
